.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding-top: 60px;
  background: no-repeat 0% -270% url("../img/bcg/calculator-bcg.webp");

  @media (max-width: $tablet-width) {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.calculator__heading {
  @media (max-width: $tablet-width) {
    font-weight: 700;
  }
}

.calculator__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 1040px;
  text-align: center;
}

.calculator__about {
  font-size: 20px;
}

.calculator__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  width: 100%;
  padding: 28px 42px;
  background-color: $basic-white;
  border-radius: 35.386px;
  box-shadow: 0px 5.662px 14.154px 0px rgba(0, 0, 0, 0.13);

  & > * {
    width: 50%;
  }

  @media (max-width: $tablet-width) {
    width: unset;
    flex-direction: column;
    gap: 20px;
    padding: 36px 16px;

    & > * {
      width: 100%;
    }
  }
}

.calculator__potential-wraper {
  display: flex;
  flex-direction: column;
  gap: 36px;

  h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
  }

  span {
    color: $main-color;
    font-size: 39px;
    font-weight: 700;
  }

  p {
    font-size: 20px;
  }

  @media (max-width: $tablet-width) {
    align-items: center;
    gap: 10px;

    h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: normal;
    }

    span {
      margin-right: auto;
    }

    p {
      order: -2;
    }

    .btn {
      order: -1;
    }
  }
}

.profit__wrapper {
  box-sizing: border-box;
  padding: 21px 28px;
  color: $basic-white;
  background-color: $main-color;
  border-radius: 35.386px;
  box-shadow: 0px 5.662px 14.154px 0px rgba(0, 0, 0, 0.13);

  span.irs-min,
  span.irs-max {
    color: $basic-white;
  }

  label {
    font-size: 20px;
  }

  @media (max-width: $tablet-width) {
    padding: 14px 28px;
  }
}

.profit__heading {
  margin-bottom: 30px;
  color: $basic-white;

  @media (max-width: $tablet-width) {
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 3px 0px 7px grey;
  }
}

.calculator__result {
  display: flex;
  justify-self: center;
  font-size: 39px;
  font-weight: 700;

  @media (max-width: $tablet-width) {
    font-size: 31px;
    font-weight: 400;
  }
}

#calcResult {
  margin-bottom: 35px;
}
