.faq {
  display: flex;
  flex-wrap: wrap;
  gap: 78px;
  padding-top: 70px;
  padding-bottom: 70px;

  @media (max-width: $tablet-width) {
    gap: 24px;
    padding: 16px 0;
  }
}

.faq__heading {
  max-width: 30%;

  @media (max-width: $tablet-width) {
    max-width: unset;
  }
}

.faq__wrapper {
  max-width: 700px;
}

.faq__container {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 24px;
  padding: 24px 30px;
  border-radius: 10px;
  background: $basic-white;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.faq__btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.faq__question {
  color: $heading-black;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}

.faq__dropdown {
  overflow: hidden;
}

.faq__dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  padding: 0;

  p {
    font-size: 16px;
  }
}

.faq__dropdown-content.show {
  max-height: 350px;
  padding-top: 17px;
}

.faq__toggle-btn {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 10px;
  background: transparent;
  border: none;
  cursor: pointer;

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &.show {
    &::before {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    &::after {
      opacity: 0;
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}
