.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  &--bottom {
    .btn {
      max-width: 242px;
      margin: 0 auto;
    }
  }

  @media (max-width: $tablet-width) {
    gap: 10px;
    width: 100%;
  }
}

input {
  box-sizing: border-box;
  max-height: 45px;
  width: 100%;
  padding: 20px 32px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", "Arial", sans-serif;
  color: $basic-black;
  border-radius: 10px;
  border: 1px solid $input-border;

  &:hover {
    border: 1px solid #0f0f0f;
  }

  &:focus {
    outline: 0;
    border: 1px solid #000;
  }

  &:active {
    border: 1px solid #000;
  }
}

.form_message.error.inactive {
  display: none;
}

.form_message.error.active {
  display: block;
  color: #0a0a0a;
}

.error {
  color: #df5e63;
  border-color: #df5e63 !important;
}

label.error {
  margin-right: auto;
  margin-top: -25px;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

#phone1-error,
#phone2-error {
  display: flex;
  margin-top: 5px;
}

.submit_btn {
  max-width: unset;

  @media (max-width: $tablet-width) {
    margin-top: 30px;
  }
}

.form__checkbox {
  display: inline-block;
  font-size: 13px;

  a {
    text-decoration: underline;
  }
}

input[type="checkbox"] {
  width: auto;
  height: auto;
  accent-color: $basic-black;
  vertical-align: middle;
}

.iti__selected-flag {
  border-radius: 1000px 0 0 1000px;
}

.iti input[type="tel"] {
  padding-left: 90px !important;
}

.form__label-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  span {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    color: $heading-black;
  }
}
