.header-promo-why-wrapper {
  background: no-repeat 50% url("../img/bcg/promo-bcg.webp");
  background-size: cover;

  @media (max-width: $tablet-width) {
    background: no-repeat 50% url("../img/bcg/promo-bcg-mob.webp");
    background-size: cover;
  }
}
