.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0);
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.modal.active {
  z-index: 11;
  background: rgba(0, 0, 0, 0.3);
  visibility: visible;
  opacity: 1;
}

.modal__wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 696px;
  padding: 24px;
  border-radius: 22px;
  background: $basic-white;

  @media (max-width: $tablet-width) {
    width: calc(100vw - 16px);
    padding: 16px;
  }
}

.modal__heading {
  margin-bottom: 16px;
  padding: 0 50px;
  color: $main-color;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 120%;

  @media (max-width: $tablet-width) {
    padding: 0;
    font-size: 24px;
  }
}

.modal__about{
  font-size: 16px;
  margin-bottom: 48px;
  color: $heading-black;
  text-align: center;

  @media (max-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 10px;
  background: 0;
  border-radius: 50%;
  border: 1px solid $basic-white;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: $basic-black;
    transition: all ease-in-out 500ms;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    opacity: 0.6;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }

  &:hover {
    border: 1px solid $main-color
  }
}
