.opportunities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
  margin: 0 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 35.386px;
  background: #f7f7fd no-repeat 100% 37px url("../img/bcg/faq-bcg.webp");

  @media (max-width: $tablet-width) {
    gap: 26px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 36px;
    background: 0;
  }
}

.opportunities_heading{
  @media (max-width: $tablet-width) {
    text-align: center;
  }
}

.opportunities__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 38px;

  @media (max-width: $tablet-width) {
    gap: 26px;
  }
}

.opportunities__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 19px;
  min-width: 348px;
  max-width: 31%;
  padding: 37px 28px;
  border-radius: 35.386px;
  background: $basic-white;
  box-shadow: 0px 5.662px 14.154px 0px rgba(0, 0, 0, 0.13);

  &--blue {
    color: $basic-white;
    border-radius: 35.386px;
    background: linear-gradient(211deg, #3171de 18.85%, #4ac0f2 105.91%);
    box-shadow: 0px 5.662px 14.154px 0px rgba(0, 0, 0, 0.13);
  }

  @media (max-width: $tablet-width) {
    min-width: unset;
    max-width: unset;
    width: 100%;
  }
}

.opportunities__subheading {
  font-size: 25px;
  font-weight: 400;

  @media (max-width: $tablet-width) {
    font-size: 20px;
  }
}

.opportunities__about {
  max-width: 80%;

  @media (max-width: $tablet-width) {
    max-width: unset;
  }
}
