.page-footer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 70px;
  padding-bottom: 70px;
  border-radius: 40px;
  background: linear-gradient(122deg, #FFF 0%, #F6F9FF 96.81%);

  @media (max-width: $tablet-width) {
    gap: 26px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 105px;

  .main-nav__list {
    gap: 48px;
    justify-content: start;
  }

  .main-nav__list--terms {
    justify-content: space-between;
  }

  .main-nav__item {
    text-align: center;
    font-size: 16px;

    a {
      font-size: 16px;
    }
  }


  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    gap: 16px;
    justify-content: start;

    .main-nav__list {
      gap: 16px;
      margin-top: 0;
      align-items: start;
    }

    .main-nav__list--terms {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: start;
      justify-content: space-around;
    }

    .main-nav__item {
      width: unset;
    }
  }
}
