.page-header {
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 33px;

  @media (max-width: $tablet-width) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.page-header__img {
  @media (max-width: $tablet-width) {
    position: relative;
    z-index: 2;
    width: 168px;
    height: auto;
  }
}

.page-header__lang-wrapper {

  @media (max-width: $tablet-width) {
    margin-top: auto;
  }
}
