.slick-slider {
  position: relative;
  min-width: 0;
  width: 100%;
}

.slider__item {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slider .slick-arrow {
  position: absolute;
  top: -120px;
  z-index: 10;
  font-size: 0;
  width: 78px;
  height: 78px;
  padding: 27px;
  border: 1px solid $basic-white;
  border-radius: 50%;
  background-color: $basic-white;
  background-repeat: no-repeat;
  background-position: 50%;

  &:hover {
    border: 1px solid $main-color;
  }

  @media (max-width: $tablet-width) {
    top: -70px;
    width: 39px;
    height: 39px;
    padding: 13px;
  }
}

.slider .slick-arrow.slick-prev {
  right: calc(100% - 60px);
  background-image: url("../img/icons/arrow-left.svg");

  @media (max-width: $tablet-width) {
    right: 60px;
  }
}

.slider .slick-arrow.slick-next {
  left: calc(100% - 204px);
  background-image: url("../img/icons/arrow-left.svg");
  transform: rotate(180deg);

  @media (max-width: $tablet-width) {
    left: unset;
    right: 0;
  }
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}
