/* Слайдер */
.slick-slider {
  position: relative;
  min-width: 0;
  width: 100%;
  margin-bottom: 80px;
}

.slider__item {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

.slider .slick-arrow {
	position: absolute;
  bottom: -130px;
	z-index: 10;
	font-size: 0;
	width: 50px;
	height: 50px;
  padding: 18px;
  border: 0;
  border-radius: 50%;
  background-color: $bcg-nav;
  background-repeat: no-repeat;
  background-position: 50%;

  &:hover {
    border: 1px solid $main-color;
  }

  @media (max-width: $tablet-width) {
    bottom: -80px;
  }

}
.slider .slick-arrow.slick-prev{
  background-image: url('../img/icons/arrow-left.svg');
	left: calc(50% - 60px);

}
.slider .slick-arrow.slick-next{
	right: calc(50% - 60px);
  background-image: url('../img/icons/arrow-left.svg');
  transform: rotate(180deg);
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}
