.why {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.why__list {
  display: flex;
  flex-wrap: wrap;
}

.why__item{
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 29px 23px;
  border-radius: 10px;
  background: linear-gradient(122deg, #FFF 0%, #FFF 96.81%);
  width: 30%;
}

.why__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 9px;
  background: #F5F8FF;
}
