/* Fonts */

// Raleway

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Raleway Regular"),
    url("../fonts/raleway/Raleway-Regular.woff2") format("woff2"),
    url("../fonts/raleway/Raleway-Regular.woff") format("woff"),
    url("../fonts/raleway/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local("Raleway Medium"),
    url("../fonts/raleway/Raleway-Medium.woff2") format("woff2"),
    url("../fonts/raleway/Raleway-Medium.woff") format("woff"),
    url("../fonts/raleway/Raleway-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local("Raleway SemiBold"),
    url("../fonts/raleway/Raleway-SemiBold.woff2") format("woff2"),
    url("../fonts/raleway/Raleway-SemiBold.woff") format("woff"),
    url("../fonts/raleway/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Raleway Bold"),
    url("../fonts/raleway/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/raleway/Raleway-Bold.woff") format("woff"),
    url("../fonts/raleway/Raleway-Bold.ttf") format("truetype");
}

// Inter

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Inter Regular"),
    url("../fonts/inter/Inter-Regular.woff2") format("woff2"),
    url("../fonts/inter/Inter-Regular.woff") format("woff"),
    url("../fonts/inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local("Inter Medium"),
    url("../fonts/inter/Inter-Medium.woff2") format("woff2"),
    url("../fonts/inter/Inter-Medium.woff") format("woff"),
    url("../fonts/inter/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local("Inter SemiBold"),
    url("../fonts/inter/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/inter/Inter-SemiBold.woff") format("woff"),
    url("../fonts/inter/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Inter Bold"),
    url("../fonts/inter/Inter-Bold.woff2") format("woff2"),
    url("../fonts/inter/Inter-Bold.woff") format("woff"),
    url("../fonts/inter/Inter-Bold.ttf") format("truetype");
}

/* Roboto */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Roboto Regular"),
    url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-Regular.woff") format("woff"),
    url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
