html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
ul,
blockquote {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

img {
  object-fit: cover;
}

a,
button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: fit-content;
  max-width: fit-content;
  padding: 12px 25px;
  color: $basic-white;
  background-color: $main-color;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
  border: none;

  &--dark {
    background: $heading-black;
    max-width: unset;
  }

  &:hover {
    background-color: $btn-hover;
  }

  &:active {
    opacity: 0.8;
  }

  &:disabled {
    cursor: not-allowed;
    color: $basic-white;
    background: #DDD;
  }

  &:disabled:hover {
    color: $basic-white;
    background: #DDD;
  }
}

.container {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 144px;

  @media (max-width: $tablet-width) {
    padding: 0 16px;
  }
}

.heading {
  color: $heading-black;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 100%;
  }
}

.heading-color {
  color: $heading-black;
  font-weight: 400;
}

.poppins-font {
  font-family: "Poppins", "Arial", sans-serif;
}

.epilogue-font {
  font-family: "Epilogue", "Arial", sans-serif;
}

.desktop-only {
  display: flex;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.mobile-only {
  display: none;

  @media (max-width: $tablet-width) {
    display: flex;
  }
}
