//Colors
$main-color: #4d6bfe;
$main2-color: #ec8025;

$basic-white: #ffffff;
$basic-black: #000000;

$text-black: #525252;
$heading-black: #3d3d3d;

$bcg-black: #202020;
$bcg-nav: #f7f7fd;

$btn-hover: #4861DA;
$btn-disabled: #DDD;

$white-text: #fbfbfb;

$input-border: #E4E4E7;
$input-color: #333;

$slider-control: #d9d9d9;

// Viewprts
$tablet-width: 768px;
