//Colors
$main-color: #0074ff;
$main2-color: #ec8025;

$basic-white: #ffffff;
$basic-black: #000000;

$text-black: #8987a1;
$heading-black: #252432;

$bcg-black: #202020;
$bcg-nav: #f7f7fd;

$btn-hover: #0455b6;
$btn-disabled: #c4c4c4;

$white-text: #fbfbfb;

$input-border: #e4e4e7;
$input-color: #333;

$slider-control: #d9d9d9;

// Viewprts
$tablet-width: 768px;
